
 body {
    background-color: rgb(75, 184, 220);
  }
  
  h1 {
    color: white;
    font-size: 30px;
    text-align: center;
  }

  h2 {
    font-size: medium;
    text-align: center;
    
  }
  
  p {
    font-family: verdana;
    font-size: 13px;
    text-align: center;
  }

  .all-items {
    padding: 5px;
    background-color: rgb(195, 195, 195);
  }

  .items {
    background-color: aliceblue;
    
  }

